mixin skillList(name)
    ul(class=name)
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
       
        title Webpack app
    body
        main
            .column-left
                .wrapper
                    .main-info
                        .circle-outer
                         .circle-inner
                    .name-info
                        p.name Name Here
                        p.surname Surname
                        p.jobTitle Graphic Designer
                    .profile-info
                        .line
                        .icon
                        h3.title PROFILE
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu <b> pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. </b>
                    .contact-info
                        .line
                        .icon
                        h3.title CONTACT
                        table
                            tr
                                td Address
                                td Main Street, City.
                            tr
                                td E-MAIL
                                td contact@domain.com
                            tr
                                td PHONE
                                td 555-555-555
                            tr
                                td WEBSITE
                                td www.yourweb.com

                    .skills
                        .line
                        .icon
                        h3.title SKILLS
                        p CREATIVE
                        +skillList('creative')
                        p TEAMWORK
                        +skillList('teamwork')
                        p INNOVATE
                        +skillList('innovate')
                        p COMMUNICATION
                        +skillList('communication')
            .column-right
                .education-info
                    .line
                    .icon
                    h3.title EDUCATION
                    ul.education
                        li.education-block 
                            .blackpoint
                            p.degree-date <span class="degree"> Master degree</span> // Feb 2011-Jun 2014
                            p.university University name
                            p.education-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                        li.education-block
                            .blackpoint
                            p.degree-date <span class="degree"> Master degree</span> // Feb 2011-Jun 2014
                            p.university University name
                            p.education-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                        li.education-block
                            .blackpoint
                            p.degree-date <span class="degree"> Master degree</span> // Feb 2011-Jun 2014
                            p.university University name
                            p.education-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                        li.education-block
                            .blackpoint
                            p.degree-date <span class="degree"> Master degree</span> // Feb 2011-Jun 2014
                            p.university University name
                            p.education-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                .experience-info
                    .line
                    .icon
                    h3.title EXPERIENCE
                    ul.experience
                        li.education-block
                            .blackpoint
                            p.degree-date <span class="company"> company name</span> // Feb 2011-Jun 2014
                            p.university your job here
                            p.education-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                        li.education-block
                            .blackpoint
                            p.degree-date <span class="company"> company name</span> // Feb 2011-Jun 2014
                            p.university your job here
                            p.education-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                        li.education-block
                            .blackpoint
                            p.degree-date <span class="company"> company name</span> // Feb 2011-Jun 2014
                            p.university your job here
                            p.education-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                .software
                    .line
                    .icon
                    h3.title SOFTWARE
                    .soft-wrapper
                        .software-skill
                            h3.softname photoshop
                            .greyline
                                .blueline._915
                        .software-skill
                            h3.softname dreamweaver
                            .greyline
                                .blueline._83
                        .software-skill
                            h3.softname illustrator
                            .greyline
                                .blueline._71
                        .software-skill
                            h3.softname after effects
                            .greyline
                                .blueline._62
                        .software-skill
                            h3.softname indesign
                            .greyline
                                .blueline._57
                        .software-skill
                            h3.softname html&css3
                            .greyline
                                .blueline._91

